[Unit]
Description=Refocus LG-A LangSec
After=refocus-pre.target
Before=refocus-core.target

[Service]
Type=simple
ExecStart=/usr/local/bin/refocus-lga
Restart=always

[Install]
WantedBy=refocus-core.target
