[Unit]
Description=Refocus LG-C SysSec
After=kernel_hook.service
Before=refocus-pre.target

[Service]
Type=simple
ExecStart=/usr/local/bin/refocus-lgc
Restart=always

[Install]
WantedBy=refocus-pre.target
