[Unit]
Description=Refocus Orchestrator
After=lg_a_langsec.service lg_c_syssec.service
Before=refocus-core.target

[Service]
Type=simple
ExecStart=/usr/local/bin/refocus-orchestrator
Restart=always

[Install]
WantedBy=refocus-core.target
