[Unit]
Description=Refocus TRM Verifier
After=refocus-core.target
Before=refocus-agents.target

[Service]
Type=simple
ExecStart=/usr/local/bin/refocus-verifier-trm
Restart=always

[Install]
WantedBy=refocus-agents.target
